.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



#head{
  background-color: #AA0000;
  color: white;
  
  justify-content: center;
  margin-left: 50pt;
  margin-right: 50pt;
  text-align: center;
}


#head_container{
  color: #282c34;
  background-color: #282c34;
}

#FormContainer1, #FormContainer3,#FormContainer5 {
  background-color:blanchedalmond;
}

#FormContainer2, #FormContainer4{
  background-color:floralwhite;
}



.sideLabel{
  font-size: large;
  margin: 8px 0;
  margin-left: 5%;
  margin-top: 15px;
  font-weight: bold;
  display:inline-block;
}

input {
  width: 10cm;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid rgb(165, 161, 161);
  border-radius: 4px;
  margin-left: 5%;
  font-size: medium;
}
ul{
  margin-left: 5%;
  margin-bottom: 5%;
}
li {
  width:fit-content;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: azure;
  border: 2px solid rgb(165, 161, 161);
  border-radius: 4px;
  margin-left: 2%;
  font-size: medium;
  display:inline-table;
  
}


li:hover{
  background-color:#AA0000;
  color: white;
}

#submit{
  height: 2%;
  margin-left: 5%;
  margin-top: 10px;
  margin-bottom: 5px;
  border-radius: 2px;
  border-color: black;
  border-style: solid;
  text-align: center;
}

button{
  width: 5cm;
  height:1cm;
  font-size: medium;
  margin-left: 5pt;
  margin-right: 5pt;
  background-color:honeydew ;
}

button:hover{
  background-color:green;
  color:white;
}

select{
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid rgb(165, 161, 161);
  border-radius: 4px;
  margin-left: 5%;
  font-size: medium;
  text-align: center;

}

.container{
  width: 50%;
  margin-left: 5%;
  border-radius: 10px;
  border-color: black;
  border-style:solid;

}
