

/* Styling for the head component */
#head{
  
  background-color: #880a1f;

  height: 100px;
  padding-top: 40px;
  margin-left: 5%;
  margin-right: 5%;
  justify-content: center;
  
  border-radius: 10px;
  border-color: black;
  border-style: groove;
  text-align: center;

  color: white;
  font-family : 'Lucida Handwriting', Times, sans-serif;
  font-style: italic;
  font-size: 50px;

}






/* Styling for the container that is carrying the input form */
.formOutercontainer{
  width : 90%;

  margin-left : 5%;

  border-radius : 10px;
  border-color : black;
  border-style : solid;

}

/* setting background color for in-form containers*/
#FormContainer1, #FormContainer3,#FormContainer5 {

  background-color : gray;

}

#FormContainer2, #FormContainer4 {

  background-color : gray;

}



/* Styling for the side labels*/
.sideLabel{

    float: left;
  
    font-size : large;
    font-weight : bold;
  
    margin : 0px 0;
    margin-left : 5%;
    margin-top : 40px;

  display : inline-block;
}

/* styling for from inputs */
input {
  width : 10cm;
  padding : 12px 20px;
  margin : 8px 0;
  margin-left: 7%;

  box-sizing : border-box;
  border: 2px solid rgb(165, 161, 161);
  border-radius: 4px;
  
  font-size: medium;

}

/* Styling for the list that is displayed after addItem button click */
ul.addedIngredientList{

  margin-left: 5%;
  margin-bottom: 5%;
  
  display: inline;
  height: fit-content;

}

/* Stylings to handle any list items in the entire page span*/

li.addedIngredient,li.recipe_ingredient_item{
 
  padding: 12px 20px;

  margin: 8px 0;
  margin-left: 2%;

  box-sizing: border-box;
  background-color: azure;
  border: 2px solid rgb(165, 161, 161);
  border-radius: 4px;
  
  font-size: medium;
  display:inline-table;
  
}


li:hover{

  background-color:#AA0000;
  color: white;

}

/* Styling for the search recipes button*/
#submit{

  height: 2%;

  margin-left: 40%;
  margin-top: 10px;
  margin-bottom: 5px;

  border-radius: 2px;
  border-color: black;
  border-style: solid;

  text-align: center;

}

/* stylings for button in general */
button{

  width: 5cm;
  height:1cm;

  font-size: medium;
  color:black;

  margin-left: 5pt;
  margin-right: 5pt;

  background-color:azure ;
  
}

button:hover{

  background-color:green;
  
}

/* Styling for the cusine selection part */
select{

  width: 20%;

  padding: 12px 20px;
  margin: 8px 0;
  margin-left: 5%;

  box-sizing: border-box;
  border: 2px solid rgb(165, 161, 161);
  border-radius: 4px;
 
  font-size: medium;
  text-align: center;

}


/* styling for container that holds all the recipes*/
#resultOuterContainer{
  width: 90%;

  margin-left: 5%;
  margin-top: 30px;

  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;

  border-color: black;
  border-style: solid;
  background-color: darkgrey;
  
}



/* styling for container that holds individual recipe item*/
#resultContainer{
  
  height: fit-content;

  border-style:groove;
  border-color: whitesmoke;
  border-width: 10px;

  background-color: white;
  color: black;

  padding-right: 2%;
  padding-left: 2%;
  padding-bottom: 2%;
  padding-top: 2%;

}

/* Styling for the image in the results*/
img{

  margin-top: 20px;
  margin-left: 40%;
  margin-bottom: 20px;
 
  width: 200px;
  height:200px;
  
  border-color:cornflowerblue;
  border-style: solid;

}

/* Styling for the list that holds recipe ingredients*/
ul.result_ingredients{

  display:flow-root;

}

/* Styling for the individial list items in recipe ingredient list*/
li.recipe_ingredient_item{

  background-color: #AA0000;
  color: white;

  border: 2px solid rgb(165, 161, 161);
  border-radius: 4px;

  font-size: medium;
  
}


ul.result_instructions{

  

}

/* Styling for the individial list items in recipe ingredient list*/
li.translated_instruction_item{


  
}













